body {
    background-color: mistyrose;
    color: brown;
    display: grid;
    font-family: 'Lucida Sans', fantasy, sans-serif;
    place-items: center;
    height: 100vh;
}

.card img{
    width: 100%;
    max-width: 50vw;
    max-height: 50vh;
}

.card p {
    text-align: center;
    margin-bottom: 4px;
}
@media (max-width: 600px) {
    .card {
        width: 90%;
        gap: 7px;
    }

    body {
        font-size: 1.2rem;
    }
    .card img {
        margin-bottom: 2px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
@media (max-width: 600px) {
    .card {
        gap: 2px;
    }
    
}

.confetti-button{
border-radius: 20px;
background-color: lightcoral;
cursor: pointer;
padding: 20px;
border-style: none; 
box-shadow: 2px 3px white;
color: mistyrose;
}

.balloons {
    width: 100%;
    height: 20vh;
}